services:
  # Web Service
  - type: web
    name: flaskapi
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn run:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: flaskapi-db
          property: connectionString
      - key: FLASK_ENV
        value: production

  # PostgreSQL Database
  - type: pgsql
    name: flaskapi-db
    databaseName: flaskapi
    user: flaskapi_user
